@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ROM APP TEST - Hello World from .Net 6</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
@using (Html.BeginForm("CreateContainer", "Home", FormMethod.Post))
{
<div class="form-group">
    <div class="col-md-offset-2 col-md-5">
        <input type="submit"
               value="Create Container"
               id="Submit"
               class="btn btn-default btn-primary"
               onclick="location.href='@Url.Action("CreateContainer", "Home")'" />
    </div>    
</div>
}
 
@using (Html.BeginForm("CreateBlob", "Home", FormMethod.Post))
{
<div class="form-group">
    <div class="col-md-offset-2 col-md-5">       
        <input type="submit"
               value="Create Blob" id="Submit"
               class="btn btn-default btn-primary"
               onclick="location.href='@Url.Action("CreateBlob", "Home")'" />
    </div>
    <div class="form-group">
        @Html.Raw(@ViewBag.Message)
    </div>
</div>

